body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.screen {
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
    width: 270px; /*310*/
    height: 34px;
    font-size: 30px;
    padding: 20px;
    border-radius: 8px;
    margin: 5px;
}

.container {
    border: 1px solid black;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    width: 70px;
    height: 47px;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}

.clear,
.delete {
    width: 150px;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}